@media (min-width: 0) {
  .column-xs-1 {
    width: 8.33333%;
    float: left; }

  .column-xs-2 {
    width: 16.66667%;
    float: left; }

  .column-xs-3 {
    width: 25%;
    float: left; }

  .column-xs-4 {
    width: 33.33333%;
    float: left; }

  .column-xs-5 {
    width: 41.66667%;
    float: left; }

  .column-xs-6 {
    width: 50%;
    float: left; }

  .column-xs-7 {
    width: 58.33333%;
    float: left; }

  .column-xs-8 {
    width: 66.66667%;
    float: left; }

  .column-xs-9 {
    width: 75%;
    float: left; }

  .column-xs-10 {
    width: 83.33333%;
    float: left; }

  .column-xs-11 {
    width: 91.66667%;
    float: left; }

  .column-xs-12 {
    width: 100%;
    float: left; } }
@media (min-width: 768px) {
  .column-sm-1 {
    width: 8.33333%;
    float: left; }

  .column-sm-2 {
    width: 16.66667%;
    float: left; }

  .column-sm-3 {
    width: 25%;
    float: left; }

  .column-sm-4 {
    width: 33.33333%;
    float: left; }

  .column-sm-5 {
    width: 41.66667%;
    float: left; }

  .column-sm-6 {
    width: 50%;
    float: left; }

  .column-sm-7 {
    width: 58.33333%;
    float: left; }

  .column-sm-8 {
    width: 66.66667%;
    float: left; }

  .column-sm-9 {
    width: 75%;
    float: left; }

  .column-sm-10 {
    width: 83.33333%;
    float: left; }

  .column-sm-11 {
    width: 91.66667%;
    float: left; }

  .column-sm-12 {
    width: 100%;
    float: left; } }
@media (min-width: 992px) {
  .column-md-1 {
    width: 8.33333%;
    float: left; }

  .column-md-2 {
    width: 16.66667%;
    float: left; }

  .column-md-3 {
    width: 25%;
    float: left; }

  .column-md-4 {
    width: 33.33333%;
    float: left; }

  .column-md-5 {
    width: 41.66667%;
    float: left; }

  .column-md-6 {
    width: 50%;
    float: left; }

  .column-md-7 {
    width: 58.33333%;
    float: left; }

  .column-md-8 {
    width: 66.66667%;
    float: left; }

  .column-md-9 {
    width: 75%;
    float: left; }

  .column-md-10 {
    width: 83.33333%;
    float: left; }

  .column-md-11 {
    width: 91.66667%;
    float: left; }

  .column-md-12 {
    width: 100%;
    float: left; } }
@media (min-width: 1200px) {
  .column-lg-1 {
    width: 8.33333%;
    float: left; }

  .column-lg-2 {
    width: 16.66667%;
    float: left; }

  .column-lg-3 {
    width: 25%;
    float: left; }

  .column-lg-4 {
    width: 33.33333%;
    float: left; }

  .column-lg-5 {
    width: 41.66667%;
    float: left; }

  .column-lg-6 {
    width: 50%;
    float: left; }

  .column-lg-7 {
    width: 58.33333%;
    float: left; }

  .column-lg-8 {
    width: 66.66667%;
    float: left; }

  .column-lg-9 {
    width: 75%;
    float: left; }

  .column-lg-10 {
    width: 83.33333%;
    float: left; }

  .column-lg-11 {
    width: 91.66667%;
    float: left; }

  .column-lg-12 {
    width: 100%;
    float: left; } }
body {
  font-family: "Roboto",sans-serif;
  color: #424242;
  margin: 0 auto; }

main img {
  width: 100%; }

h1, h6 {
  font-family: "Product Sans",sans-serif; }

.uppercase {
  text-transform: uppercase; }

.center {
  text-align: center; }

.mt-25 {
  margin-top: 25px; }

.container {
  padding: 0 2%; }

.border-top {
  border-top: 4px solid #4285f4; }

.roboto-mono {
  font-family: "Roboto Mono",monospace;
  color: #5f6368;
  font-size: 16px; }

header {
  padding: 5% 0; }
  header .menu {
    list-style: none;
    padding: 0; }
    header .menu__item {
      display: inline-block;
      padding: 10px;
      margin: 0 10px;
      font-size: 14px;
      color: #5f6368;
      font-weight: 500;
      position: relative;
      cursor: pointer; }
      header .menu__item--hover:hover {
        border-bottom: 5px solid whitesmoke; }

/*# sourceMappingURL=style.css.map */
